@import "/assets/font.css";

:root {
  --main-color: #010152;

}

body {
    font-family:"Hind-Regular";
    margin: 0;
    padding: 0;
    background: #FCFCFC;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
  
}

::-webkit-scrollbar {
    width: 5px;
  
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0f0f77 ;
    height:auto;
    border-radius: 100px;
  }
  
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background-color: #000035 ;
}
 
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Hide scrollbar when not scrolling */
  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: transparent;
  }


  h1 {
    margin-bottom:2.25rem ;
    
    display: flex;
    font-size: 40px;
    justify-content: center;
  

}

.about{
  margin: 7.5rem auto 0;
}
.description{
    margin: auto;
    
    margin-top: 7.5rem;
    font-size: 1.1rem;
    font-family: "Hind-Regular";
    text-align: left;
    line-height:normal;
    
    width: 41.3125rem;
    
}

.description  p{
  margin-bottom: 2.87rem;
}

.button {
  width: 150px;
  height: auto;
  padding: 10px;
  margin-bottom: 3rem;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Hind-Medium";
  color: rgb(59, 59, 59);
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 0.3125rem;
  border: 0.125rem solid #000;
  background: linear-gradient(to bottom, #3B49C8 50%, #FCFCFC 50%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: all .5s ease-out;
}

.button:hover {
  background-position: top;
  color:white;

}

a{
  color:#2B99FF;
  text-decoration: none;
}

.contact_button{
  width: 250px;
  height:auto;
  padding: 20px;;
  background-color: #3B49C8;
  border-radius: 10px;
  font-size: 30px;
  font-family:"Hind-Bold";
  color: white;
  text-align: center;
  margin: auto;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 50px;
}



/* scale the button when hoveing */
.contact_button:hover{
  transition: 0.5s;
  transform: scale(0.95);
}




@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }
  
    h1 {
      margin-top: 50px;
      font-size: 36px;

    }
    .description{
        font-size: 12px;
        line-height: 200%;
        width: 85%;
        text-align: center;
    }


  
}


