@import "/assets/font.css";

:root {
    --main-color: #ff693b;
    --hover-color: #ff912b;
    --side-color:  #ffeec4;
    --darken-amount: 20; /* Amount to darken in percentage */
  }


  .hero {
    background: linear-gradient(180deg, #ff912b 0%, #ff912b 20%, #ff693b 100%);
    position: relative;
    width: 85%;
    margin:auto;
    margin-top: 100px; /* Add margin-top to move hero image below navigation bar */
    border-radius: 10px;
  }
  
  .hero img{
    /* padding: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    align-content: center;
  }
  

  .section{
    display: grid;
    gap:2rem;
    grid-template-columns: 
      repeat(auto-fit, minmax(300px, 1fr)); 

    width: 80%;
    margin-inline: auto ;
    margin-top: 50px;
    
  }
  
  .section .box{  
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   
    
  }
  
  .section .box img{
    max-width: 300px;
    margin: auto;
  }
  
  .section .box .explain{
    font-size: 22px;
    max-width: 300px;
    text-align: left;
    margin: 1rem auto;
  }
  
  
  @media (min-width: 1024px) {
    .section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
@media only screen and (max-width: 768px) {
  
  ::-webkit-scrollbar {
    display: none;
}

.to-top {
    padding: 5%;
}

/* hero image */
.hero{
  width: 100%;
}
.hero img{
  width: 90%;
  padding-top: 60px;
}

.title{
  margin-top: -50px;
}

}


