@import "/assets/font.css";

:root {
    --main-color: #ff693b;
    --hover-color: #ff912b;
    --side-color:  #ffeec4;
    --darken-amount: 20; /* Amount to darken in percentage */
  }


  .hero {
    background: linear-gradient(180deg, #ff912b 0%, #ff912b 20%, #ff693b 100%);
    position: relative;
    width: 85%;
    margin:auto;
    margin-top: 100px; /* Add margin-top to move hero image below navigation bar */
    border-radius: 10px;
  }
  
  .hero img{
    /* padding: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    align-content: center;
  }
  

  .section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    
  }
  
  .section .box{
    width: 48%;
    height: auto;
    margin-bottom: 50px;
    padding-right: 20px;
    
  }
  
  .section .box img{
    width: 45%;
    
    float: left;
    margin-right: 10px;
  }
  
  .section .box .explain{
    font-size: 22px;
    width: 95%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
  }
  
  

@media only screen and (max-width: 768px) {
    .section .box {
      margin: auto;
    }
    .section .box .explain{
      
      width: 100%;
      height: auto;
      text-align: center;
  }
  
      ::-webkit-scrollbar {
          display: none;
      }
  
      .to-top {
          padding: 5%;
      }

/* hero image */
    .hero{
        width: 100%;
        margin-top: 0px;
        border-radius: 0px;
    }
    .hero img{
        padding-top: 60px;
    }

    .title{
        margin-top: -50px;
    }
/* font size */
      h1{
            font-size: 16px;
      }
      
      .brief,h2{
        font-size: 16px;
  }
  
        h3, .description,.section .box .explain, .text_link{
          font-size: 12px;
        }
  }