@font-face {
    font-family: 'Laila-Bold';
    src: url('/Laila/Laila-Bold.ttf') format('truetype');
    font-weight:bolder;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Laila-SemiBold';
    src: url('/Laila/Laila-SemiBold.ttf') format('truetype');
    font-weight:bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Laila-Light';
    src: url('/Laila/Laila-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'Laila-Medium';
    src: url('/Laila/Laila-Medium.ttf') format('truetype');
    
    font-style: normal;
  }


  @font-face {
    font-family: 'Laila-Regular';
    src: url('/Laila/Laila-Regular.ttf') format('truetype');
    
    font-style: normal;
  }


