

body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16"><circle cx="8" cy="8" r="6" fill="orange" /></svg>') 8 8, auto;
  /* padding: 0; */
  /* margin: 0; */
  background-attachment: fixed;
 
}

 
/* cursor effect point to the link*/ 
/* a {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16"><circle cx="8" cy="8" r="2" fill="orange" /></svg>') 8 8, auto;
  }
 */
a {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16"><circle cx="8" cy="8" r="2" fill="orange" /><circle cx="8" cy="8" r="6" fill="rgba(255, 165, 0, 0.1)" /></svg>') 8 8, auto;

  }
  

  
  /*  Navigation bar  */
  .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      z-index: 2;
    }
    
    .navbar.hidden {
      display: none;
    }
    
    .navbar-links {
      display: flex;
      align-items: center;
      z-index: 2;
      padding-right: 40px;
    }
    
  
    .navbar-links ul {
      display: flex;
      list-style-type: none;
      z-index: 2;
      
    }
  
    .navbar-links ul li {
      
    }
  
  
    .navbar-links ul li a {
      
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      font-family:'Laila-Bold';
      margin-left: 30px;
    }
  
  
  
    .navbar-links a {
      position: relative; /* make the <a> element a positioned container */
      text-decoration: none; /* remove the default underline */
      color: black; /* set the text color */
    }
    
    .navbar-links a::before {
      content: ''; /* add an empty pseudo-element */
      position: absolute; /* position the element absolutely within the <a> container */
      bottom: 0; /* position the element at the bottom of the container */
      left: 0; /* start the element off the left edge of the container */
      width: 0; /* start the element with no width */
      height: 2px; /* set the height of the underline */
      background-color: orange; /* set the color of the underline */
      transition: width 0.2s ease-in-out; /* add a transition to animate the width change */
      z-index: -1; /* set the z-index to behind the text */
    }
    
    .navbar-links a:hover::before {
      width: 100%; /* animate the width to cover the entire container */
    }
    
    
    
    
    
    
  
    .logo {
      display: flex;
      align-items: center;
      z-index: 2;
      margin-left: 20px;
 
    }
    

    .logo img {
      align-items: center;
      height: 10%;
      z-index: 2;
    }


  
  