/* cursor / narvigation bar / scroll bar */
:root {
  --background-color: #FCFCFC;
  
}


*{
  padding: 0;
  margin: 0;
  background-attachment: local, scroll;
  color: rgb(29, 29, 29);
  cursor: none;
  font-family: "Hind-Regular";
  /* pointer-events: none; */
  
}



/* cursor  */
body:hover > #cursor , body:hover > #cursor2   {
  opacity: 1;
} 

  /* Outside */
  #cursor {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(29, 29, 29,0.5);
    border-radius: 100%;
    /* background-color: rgb(252, 252, 252); */
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    display: grid;
    place-items: center;
    }
   
    #cursor img{
      width: 100px;
      z-index: -1;
      opacity: 0.5;
      position: absolute;
    }
  /* cursor 2=  text/icon */
    #cursor2 {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    color: rgb(29, 29, 29);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    display: grid;
    place-items: center;
    background-size: contain;
    }
  
  
    #cursor_dot {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: rgb(29, 29, 29);
    position: fixed;
    z-index: 10000;
    pointer-events: none;
    opacity: 1;
    
    display: grid;
    place-items: center;
    
    }
    #cursor_text { 
    
    font-size: 30px;
    position: fixed;
    opacity: 0; 
    
    }




  
  /*  Navigation bar  */

  header {
    /* background-color: #f2f2f2; */
    width: 100%;
  }

  


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right:15px;
    z-index: 2;
  
    }
    
    .navbar.hidden {
      display: none;
    }
    
   
    .navbar-links  a {
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      font-family:'Hind-Bold';
      color: rgb(29, 29, 29);
    }
  
  
  
    .navbar-links a {
      position: relative; /* make the <a> element a positioned container */
      text-decoration: none; /* remove the default underline */
    }
    
    .navbar-links a::before {
      content: ''; /* add an empty pseudo-element */
      position: absolute; /* position the element absolutely within the <a> container */
      bottom: 0; /* position the element at the bottom of the container */
      left: 0; /* start the element off the left edge of the container */
      width: 0; /* start the element with no width */
      height: 2px; /* set the height of the underline */
      background-color: var(--main-color); /* set the color of the underline */
      transition: width 0.2s ease-in-out; /* add a transition to animate the width change */
      z-index: -1; /* set the z-index to behind the text */
    }
    
    .navbar-links a:hover::before {
      width: 100%; /* animate the width to cover the entire container */
    }
    
    
    .logo {
      display: flex;
      align-items: center;
      z-index: 2;
 
    }
    

    .logo img {
      height: 4rem;
      border-bottom-right-radius: 2em 5em;
      z-index: 2;
    }

  /* scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
  
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--main-color) ;
    height:auto;
    border-radius: 100px;
  }
  
    /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-color) ;
    
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  
  }
  
  /* Hide scrollbar when not scrolling */
  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: transparent;
  
  }
  
  
@media only screen and (max-width: 768x) {
      .logo {
        margin-left: 10px;
      }
      .logo img {
        height:30px;
      }

}

    

   