@import "/assets/font.css";

:root {
  --main-color: #FF9E58;

}


* {
  box-sizing: content-box;
  color: #171717;
  text-decoration: none;
  
    }





body {
  
  padding: 0;
  margin: 0;
  font-family:"Laila-Regular";
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
  position: relative;
  background: #FCFCFC;
  background-attachment: fixed;

}
  

.container {
  display: flex;
  position: fixed;
  top:0;
  height: 100%;
  width: 200%;
  transition: transform 3s ease-in-out ;
  direction: rtl;
  z-index: -1;
 
}







/* ----------------------------------------------------- */



.content {
  position: fixed;
  top: 25%;
  width: 600px;
  height: 485px;
  margin: 30px 80px 0 50px;
  flex-shrink: 0;
  z-index:2;
  font-family:"Laila-Regular";


  /* margin-bottom: 50%; */
  

  
}

.content h1 {
  display: block;
  /* width: auto; */
  padding-top: 5%;
  color: #828282;
  font-size: 3.5rem; /* Change the font size to 2rem */
  font-weight:570; /* Add bold font weight */

  /* padding-left: 40px; */
  text-align: left; /* Align the text to center */

}

.content p{
  color: #010152;
}


/* ------------------------------------- */

.collection{
  position: fixed;
  top: 25%;
  left: 50%;
  width: 50%;
  border-style: none  none none solid;

}
.project {
  width: 80%;
  height: 100px;
  flex-shrink: 0;
  border: 2px dashed;
  border-style: none  none dashed none;
  text-decoration: none;
  
}
#last_raw{
  border-style: none;
  margin-bottom: -2%;
}
.project_raw{
  display: block;
  width: 100%;
  height: -webkit-fill-available;
  margin: 0px 0px 1%;
  
}

/* .project_raw:hover{
  color: #FF9E58;
  cursor: pointer;
  background-color: #F4FFD4;
} */

.project_name{
  font-size:35px ;
  padding-left: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  
}









/* ------------------------------------ */

 





/* -------------------------------------------------- */
/*  word typing   UX Designer / UI */
.typing-animation {
  display: flex;
  display: inline-block;

  border-right: 10px solid rgb(255, 177, 59);
  /* padding-right: 10px; */
  font-size: 5rem;
  font-weight: bold;
  animation: typing 0s steps(12), blink-caret 1s step-end infinite;


  position: absolute;
  left: 0;
  margin-left: 45px;
  margin-top: 0%;
  white-space: nowrap;
}




@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    border-right-color: transparent;
  }
  auto {
    width: 100%;
    border-right-color: transparent;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;  /* cursor disappear  */
   

  }

  50% {
   
    border-right-color: rgb(255, 177, 59); /* cursor appear  */
  }
}




/* -------------------------------------------------------------- */


.logo h1 {
  font-size: 48px;
  color: #333;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 20px;
}

.logo h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #fff, #ccc, #fff);
  transform: scaleY(0.2);
  transform-origin: center bottom;
  transition: transform 0.5s ease-in-out;
  animation: wave 1s linear infinite;
}

.logo h1:hover::after {
  transform: scaleY(0.8);
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}












@media only screen and (max-width: 768px) {

  .horizontal-section{
    width: 100%;
  }
  .sticky-wrapper{
    display: flex;
    padding-top: 30%;
  }

  .element-wrapper {
    width: 100%;	
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* scale the first project to smaller */

  .project {
    width: 300px;
    height: 291px;
    margin: auto;
    margin-bottom: 50px;
  }
  .project img {
    width: 300px;
    height: 291px;  
  }


  .content{
  padding-bottom: 50%;
  }
  
/* 
  .project1 {
    width: 300px;
    height: 291px;
    margin: auto;
    margin-top: 50%;
    margin-bottom: 20%;
  } */





  .my-content{
    font-size: 20px;
  }
  /* shrink the size of all content */
  .content{
    margin: auto;
    width: 100%;
    height: 300px;
    
  }
  .content h1 {
    font-size: 3rem;
    margin: auto;
  }


  .typing-animation {
    font-size: 3.5rem;
    position: absolute;
    left: 0;
    white-space: nowrap;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* .element-wrapper .my-element {
    align-items: center;
    width: 90%;
    
    height: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
  }  */
  
}