@import "/assets/font.css";

* {
  box-sizing: content-box;
    }
body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16"><circle cx="8" cy="8" r="6" fill="orange" /></svg>') 8 8, auto;
  padding: 0;
  margin: 0;
  font-family:"Laila-Regular";
 
}

a {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16"><circle cx="8" cy="8" r="2" fill="orange" /><circle cx="8" cy="8" r="6" fill="rgba(255, 165, 0, 0.1)" /></svg>') 8 8, auto;

  }

::-webkit-scrollbar {
  width: 5px;

  
}

::-webkit-scrollbar-thumb {
  background-color: #ff9900 ;
  height:5px;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
      180deg,  
      rgb(255, 251, 190,1) 0%, 

      rgb(255, 251, 190,0.7) 25%, 
      rgba(255, 251, 211, 1) 30.5%, 
      rgba(255, 251, 211, 0.8) 52.08%);
}

/* Hide scrollbar when not scrolling */
::-webkit-scrollbar-thumb:window-inactive {
  background-color: transparent;
}

  
  .fixed-top {
  position: fixed;
  top: 0;

  width: 100%;
/*   background-color: white; */
  z-index: 1;
}


body {

  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
  position: relative;
  z-index: 9999;

  background: linear-gradient(
      180deg,  
      rgb(255, 251, 190,1) 0%, 

      rgb(255, 251, 190,0.7) 25%, 
      rgba(255, 251, 211, 1) 30.5%, 
      rgba(255, 251, 211, 0.8) 52.08%, 
      rgba(255, 251, 211, 0.3) 100%);
  background-attachment: fixed;

}
  

.container {
  display: flex;
  position: fixed;
  top:0;
  height: 100%;
  width: 200%;
  transition: transform 3s ease-in-out ;
  direction: rtl;
  z-index: -1;
 
}







/* ----------------------------------------------------- */

.horizontal-section {
  padding: 10px 0;
  height: auto;

}

/* important for horizontal scroll in the large screen */
.sticky-wrapper {
  position: sticky;
  top: 15%;
  width: 100%;
  overflow: hidden;

}

.element-wrapper {
  position: relative;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;  /* stack the content under this class vertically */
  width: 600px;
  height: 485px;
  margin: 30px 80px 0 50px;
  flex-shrink: 0;
  z-index:2;
  font-family:"Laila-Regular";


  /* margin-bottom: 50%; */
  

  
}

.content h1 {
  display: block;
  /* width: auto; */
  padding-top: 5%;
  color: black;
  font-size: 3.5rem; /* Change the font size to 2rem */
  font-weight:570; /* Add bold font weight */

  /* padding-left: 40px; */
  text-align: left; /* Align the text to center */

}



/* ------------------------------------- */


.first_project {
  width: 500px;
  height: 485px;
  background-color: rgb(255, 202, 152);
  margin: 30px 100px 0 20px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 5px solid #ff9900;
  position: relative;
}


.last_project {
  width: 500px;
  height: 485px;
  background-color: #c0a7d8;
  margin: 30px 100px 0 20px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 5px solid #7e53a6;
  position: relative;
}

.my-element {
  align-items: center;
}

/* cursor size over 128 can not work */
.my-element a {
  /* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16"><circle cx="8" cy="8" r="2" fill="orange" /><circle cx="8" cy="8" r="6" fill="rgba(255, 165, 0, 0.1)" /></svg>') 8 8, auto; */
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect rx='50' width='100%' height='100%' fill='%23FF9E58' /><text x='50%' y='50%' font-family='sans-serif' font-weight='bold' font-size='20' dominant-baseline='middle' text-anchor='middle' fill='white'>View</text></svg>") 0 0, auto;
}

.my-content{
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect rx='50' width='100%' height='100%' fill='%23FF9E58' /><text x='50%' y='50%' font-family='sans-serif' font-weight='bold' font-size='20' dominant-baseline='middle' text-anchor='middle' fill='white'>View</text></svg>") 0 0, auto;
}


.my-element img {
    height: 485px;
    border-radius: 15px;
}

.my-element:hover img {
  opacity: 0.1;
}

.my-content{
  font-family:"Laila-Bold";
  font-size: 30px;
  opacity:0;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.my-element:hover .my-content {

  opacity: 1;
/*     align-content: center; */
  color: black;
  z-index: 90;
}




/* ------------------------------------ */

 





/* -------------------------------------------------- */
/*  word typing   UX Designer / UI */
.typing-animation {
  display: flex;
  display: inline-block;

  border-right: 10px solid rgb(255, 177, 59);
  /* padding-right: 10px; */
  font-size: 5rem;
  font-weight: bold;
  animation: typing 0s steps(12), blink-caret 1s step-end infinite;


  position: absolute;
  left: 0;
  margin-left: 45px;
  margin-top: 0%;
  white-space: nowrap;
}




@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    border-right-color: transparent;
  }
  auto {
    width: 100%;
    border-right-color: transparent;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-right-color: transparent;  /* cursor disappear  */
   

  }

  50% {
   
    border-right-color: rgb(255, 177, 59); /* cursor appear  */
  }
}




/* -------------------------------------------------------------- */


.logo h1 {
  font-size: 48px;
  color: #333;
  text-align: center;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 20px;
}

.logo h1::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #fff, #ccc, #fff);
  transform: scaleY(0.2);
  transform-origin: center bottom;
  transition: transform 0.5s ease-in-out;
  animation: wave 1s linear infinite;
}

.logo h1:hover::after {
  transform: scaleY(0.8);
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}












@media only screen and (max-width: 768px) {

  .horizontal-section{
    width: 100%;
  }
  .sticky-wrapper{
    display: flex;
    padding-top: 30%;
  }

  .element-wrapper {
    width: 100%;	
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* scale the first project to smaller */
  .first_project {
    width: 300px;
    height: 291px;
    margin: auto;
    margin-top: 50%;
    margin-bottom: 20%;
  }
  .first_project img {
    width: 300px;
    height: 291px;  
  }
  .last_project {
    width: 300px;
    height: 291px;
    margin: auto;
    margin-bottom: 50px;
  }
  .last_project img {
    width: 300px;
    height: 291px;
  }


  .my-content{
    font-size: 20px;
  }
  /* shrink the size of all content */
  .content{
    margin: auto;
    width: 100%;
    height: 300px;
    
  }
  .content h1 {
    font-size: 3rem;
    margin: auto;
  }


  .typing-animation {
    font-size: 3.5rem;
    position: absolute;
    left: 0;
    white-space: nowrap;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* .element-wrapper .my-element {
    align-items: center;
    width: 90%;
    
    height: 100%;
    margin: 0;
    border-radius: 0;
    border: 0;
  }  */
  
}