@import "/assets/font.css";

:root {
    --main-color: #573A73;
    --hover-color: #2d1c3d;
    --side-color:  #c2a8eb;
  }


  
.hero {
    background: linear-gradient(94.65deg, #8D61B7 12.81%, #815AA7 28.84%, #573A73 93.79%);
    position: relative;
    width: 85%;
    /* height: 435px; */
    margin:auto;
    margin-top: 100px; /* Add margin-top to move hero image below navigation bar */
    border-radius: 20px;
}

.hero img{
    /* padding: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    align-content: center;
}





.solution{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    padding-left: 50px;
    
}

.solution .section{
    width: 48%;
    height: auto;
    
}

.solution .section a {
    margin: auto;
}

.project_link{
    font-size: 1.3rem;
    text-decoration: underline;
    color: #521AF1;
    margin: 1.5rem auto;
    text-align: center;
    
}
.one_image_container{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    /* padding-bottom: 10px; */
    
}
.one_image_container img{
    width: 100%;
    margin: auto;
    border-radius: 10px;    
}

.one_image_container_mobile{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    
  
}   

.one_image_container_mobile img{
    width: 30%; 
    margin: auto;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
}




.one_image_container .explain{
    font-size: 2px;   
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}







@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }
    
    .to-top {
        padding: 5%;
    }

    .project_link{
        font-size: 1rem;
    }

}