@import "/assets/font.css";
body {
    font-family:"Laila-Regular";
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,
     #B298DC 0%, rgba(178, 152, 220, 0.8) 42.71%);

     z-index: -1;
  
}

::-webkit-scrollbar {
    width: 5px;
  
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #573A73 ;
    height:auto;
    border-radius: 100px;
  }
  
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background-color: #2d1c3d ;
}
 
  ::-webkit-scrollbar-track {
    background: linear-gradient(180deg,
    #B298DC 0%, rgba(178, 152, 220, 0.8) 42.71%);
  }
  
  /* Hide scrollbar when not scrolling */
  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: transparent;
  }


.to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2%;
}

/*  for js code to hide at begining  */
.to-top.hidden {
    display: none;
  }

  
.hero {
    background: linear-gradient(94.65deg, #8D61B7 12.81%, #815AA7 28.84%, #573A73 93.79%);
    position: relative;
    width: 90%;
    /* height: 435px; */
    margin:auto;
    margin-top: 100px; /* Add margin-top to move hero image below navigation bar */
    border-radius: 20px;
}

.hero img{
    /* padding: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    align-content: center;
}

.title{
    width: 60%;
    align-content: center;
    padding: 60px;
}


.date {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

h1 {
    font-size: 48px;
    /* font-weight: bold; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.brief{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 85%;
    font-size: 28px;
    text-align: center;
    margin: auto;
    
}

h2 {
    font-family:"Laila-Bold";
    font-size: 30px;
    font-weight: bold;
    padding-left: 8%;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    font-family:"Laila-Medium";
    font-weight: 595;
    font-size: 25px;
    padding-left: 8%;
    margin-top: 35px;
    margin-bottom: 20px;
}

.description {
    font-size: 25px;
    width: 78%;
    margin: auto;
    margin-bottom: 50px;
}

.responsive-image {
    width: 86%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}


.solution{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    
}

.solution .section{
    width: 48%;
    height: auto;
}

.project_link{
    font-size: 25px;
    text-decoration: underline;
    color: #521AF1;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.one_image_container{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    /* padding-bottom: 10px; */
    
}
.one_image_container img{
    width: 100%;
    margin: auto;
    border-radius: 10px;    
}

.one_image_container_mobile{
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    
  
}   

.one_image_container_mobile img{
    width: 30%; 
    margin: auto;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
}




.one_image_container .explain{
    font-size: 2px;   
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.text_link{
    color: #573A73;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}




/* a button with 450px width and 120px height  */
.button{
    width: 250px;
    height:auto;
    padding: 20px;;
    background-color: #573A73;
    border-radius: 20px;
    font-size: 30px;
    font-family:"Laila-Bold";
    color: white;
    text-align: center;
    margin: auto;
    text-decoration: none;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;

}

.button:hover{
    background-color: #b080dd;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    transform: translateY(-10px);
}

@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }
    
    .to-top {
        padding: 5%;
    }
  }