
body {
  font-family:"Hind-Regular";
  margin: auto;
  padding: 0;
  background: var(background-color);
  z-index: -1;
  
}







.to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2%;
  display: none;
}

/*  for js code to hide at begining  */
.to-top.hidden {
  display: none;
}





.date {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}



h1 {
  font-size: 48px;
  /* font-weight: bold; */
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.brief{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  font-size: 28px;
  text-align: center;
  margin: auto;
  
}

h2 {
  font-family:"Hind-Bold";
  font-size: 30px;
  font-weight: bold;
  padding-left: 8%;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-family:"Hind-Medium";
  font-weight: 595;
  font-size: 22px;
  padding-left: 8%;
  margin-top: 35px;
  margin-bottom: 20px;
}

h4{
  font-family: 'Hind-Light';
  font-size: 25px;
  font-weight: 300;
  padding-left:8%;
  margin-right: 10px;
  margin-bottom: 50px;

}

.description {
  font-size: 22px;
  width: 78%;
  margin: auto;
  margin-bottom: 50px;
}

.responsive-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* ---------------- */

.division{
  background: var(--side-color);
  width: 100%;
  padding: 20px 0 20px;
}


/* ---------------- */
.text_link{
  font-size: 22px;
  color: var(--main-color);
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  padding-top: 20px;
}

.text_link a {
  color: var(--main-color);
}



/* a button with 450px width and 120px height  */
.button{
  width: 250px;
  height:auto;
  padding: 20px;;
  background-color: var(--main-color);
  border-radius: 10px;
  font-size: 30px;
  font-family:"Hind-Bold";
  color: white;
  text-align: center;
  margin: auto;
  text-decoration: none;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: auto;


}

/* button slide to from bottom to the top  when hovering */
.button:hover{
  background-color: var(--hover-color);
  color: white;
  text-decoration: none;
  transition: 0.5s;
  transform: translateY(-10px);
  
}


@media only screen and (max-width: 768px) {

    .hero{
      width: 90%;
   
  }
    .date {
      position: absolute;
      bottom: 10px;
      right: 2px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 5px;
      font-size: 10px;
      border-radius: 5px;
  }

    .navbar-links  a {
      font-size: 16px;
    }

  /* image */
    .section .two_img img,.section .box{
      width: 90%;
      padding-bottom: 40px;
    }
    .section .box img{
      width:100%;
      padding-bottom: 20px;
    }
  /* font size */

    h1{
      font-size: 1.5rem;
  }

  .brief{
    font-size: 1.1rem;
  }
    
  h2{
  font-size: 1.2rem;
  }

    h3, .description,.section .box .explain, .text_link{
    font-size: 1rem;
  }

  h4{
    font-size:1rem;
  }
  
  h1, h2, h3, h4 {
    padding-left: 5%;
  }

  .section{
    width: 100%;
  }

  .brief,.description{
    width: 90%;
  }
  
}
 


