@import "/assets/font.css";

:root {
    --main-color: #06C6FE;
    --hover-color: #0487AD;
    /* gradient color */
    --side-color: #7AD9FF;
    --background: #FCFCFC;
  
  }

body {
    font-family:"Laila-Regular";
    z-index: -1;  
}

/* color of bg and scroll track is the same */
body,::-webkit-scrollbar-track{
    background: var(--background);
}



::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--main-color) ;
    height:auto;
    border-radius: 100px;
  }
  
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background-color: var(--hover-color) ;
}
 

  
  /* Hide scrollbar when not scrolling */
  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: transparent;
  }


.to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2%;
}

/*  for js code to hide at begining  */
.to-top.hidden {
    display: none;
  }

  
.hero {

    position: relative;
    width: 85%;
    /* height: 435px; */
    margin:auto;
    margin-top: 100px; /* Add margin-top to move hero image below navigation bar */
    border-radius: 20px;

    /* border: 5px solid rgb(255, 252, 227,0.2); */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
}

.hero img{
    width: 100%;

    align-content: center;
}

.title{
    width: 60%;
    align-content: center;
    padding: 60px;
}


.date {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

h1 {
    font-size: 48px;
    /* font-weight: bold; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.brief{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    font-size: 28px;
    text-align: left;
    margin: auto;
    
}

h2 {
    font-family:"Laila-Bold";
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    font-family:"Laila-Medium";
    font-weight: 595;
    font-size: 22px;
    padding-left: 8%;
    margin-top: 35px;
    margin-bottom: 20px;
}

.description {
    font-size: 22px;
    width: 85%;
    /* margin: auto; */
    margin-bottom: 50px;
    padding-left: 8%;
}




.project_link{
    font-size: 22px;
    text-decoration: underline;
    color: #521AF1;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}



.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.section .box{
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.section .box img{
    width: 600px;
    float: left;
    margin-right: 30px;
}

/* img under class  */
.section .two_img img{
    width: 45%;
    margin-right: 30px;
}

.section .box .explain{
    font-size: 22px;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.text_link{
    color:var(--hover-color);
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    padding-top: 20px;
}




/* a button with 450px width and 120px height  */
.button{
    width: 250px;
    height:auto;
    padding: 20px;;
    background-color: var(--main-color);
    border-radius: 10px;
    font-size: 30px;
    font-family:"Laila-Bold";
    color: white;
    text-align: center;
    margin: auto;
    text-decoration: none;
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;

}

.button:hover{
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    transition: 0.5s;
    transform: translateY(-10px);
}

@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }
    
    .to-top {
        padding: 5%;
    }
  }