@import "/assets/font.css";

:root {
    --main-color: #248757;
    --hover-color: #175d3b;
    --background: #FCFCFC;
    --side-color: #c6f4de;  
  
  }




  
  .hero {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(95deg, #54BC8A 12.81%, #51A47C 45.2%, #45916D 93.79%);
    box-shadow: 0px 4px 4px 0px rgba(36, 135, 87, 0.25);
    position: relative;
    width: 85%;
    height: 50%;
    margin:auto;
    margin-top: 100px; /* Add margin-top to move hero image below navigation bar */
    padding-bottom: 2rem;
    border-radius: 10px;

}

.hero_logo{
    width:3rem;
    height: min-content;
    margin: 1rem 100% 1rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    padding: 1px;
}

.hero_ui{
    width: 300px;   /* max-width not work for svg  */
    max-width: 100%;
    margin: auto;
    padding-left: min(2%, 50px);
    
}

.title{
    font-size: 3rem;
    color: #ffffff;
    margin: auto;
    padding-right: min(1%, 50px);
    text-align: center;
  }



.solution{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    
}


.one_image_container{
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    /* padding-bottom: 10px; */
    
}
.one_image_container img{
    width: 100%;
    margin: auto;
    border-radius: 10px;    
}

.one_image_container_mobile{
    position: relative;
    width: 30%;
    height: auto;
    margin: auto;
    
  
}   

.one_image_container_mobile img{
    width: 70%; 
    margin: auto;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
}




.one_image_container .explain{
    font-size: 2px;   
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}





@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }
    
    .to-top {
        padding: 5%;
    }

    .title{
        font-size: 2rem;

    }
  }