@import "/assets/font.css";

:root {
    --main-color: #248757;
    --hover-color: #175d3b;
    --background: #FCFCFC;
    --side-color: #c6f4de;  
  
  }




  
.hero {

    position: relative;
    width: 85%;
    /* height: 435px; */
    margin:auto;
    margin-top: 100px; /* Add margin-top to move hero image below navigation bar */
    border-radius: 20px;
}

.hero img{
    width: 100%;

    align-content: center;
}



.solution{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    
}


.one_image_container{
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    /* padding-bottom: 10px; */
    
}
.one_image_container img{
    width: 100%;
    margin: auto;
    border-radius: 10px;    
}

.one_image_container_mobile{
    position: relative;
    width: 30%;
    height: auto;
    margin: auto;
    
  
}   

.one_image_container_mobile img{
    width: 70%; 
    margin: auto;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
}




.one_image_container .explain{
    font-size: 2px;   
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}





@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }
    
    .to-top {
        padding: 5%;
    }
  }